<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <textarea id = "txtA"></textarea>
    <button id = "showData">SHOW INFORMATION</button>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script>
$("#showData").click(function(event){
        
          $.ajax({
              url: "/user/user:ID",
              method: "GET",
            
          }).done(function(response){
              console.log(response)
          }).fail(function(response){
              console.log(response)   
          })
    });
</script>

</body>
</html>